{erl_opts, []}.

{deps, [
    {poolboy, ".*",
        {git, "git://github.com/devinus/poolboy.git", {tag, "1.0.0"}}},
    {riakc, ".*",
        {git, "git://github.com/basho/riak-erlang-client.git",
            {tag, "1.4.0"}}}
]}.

{cover_enabled, true}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
